.wrapper {
    padding: var(--container);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--base-color);
    gap: calc(var(--main-padding)/1.50);
}

.wrapper>h3 {
    font-size: 18px;
}

@media screen and (min-width:768px) {
    .wrapper>h3 {
        font-size: 22px;
    }
}