.wrapper {
    margin: var(--container);
    background-color: var(--base-color);
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--main-padding));

    &>h2 {
        font-size: 36px;
    }
}

.list {
    display: flex;
    list-style-type: none;
    gap: calc(var(--main-padding)*3);
}

.listItem {
    text-align: center;

    &>span {
        font-size: 24px;
        font-weight: 500;
    }

    &>.icon>svg {
        color: var(--primary-accent-color);
        font-size: 120px;
        height: fit-content;
    }
}