.wrapper {
    /*  */
    padding: var(--container);
    position: relative;
    margin-bottom: var(--main-padding);
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.wrapper h2 {
    text-align: left;
    font-size: 48px;
    padding: 0 0 var(--main-padding) 0;
}

.cardsContainer {
    /* border: 1px solid red; */

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--main-padding);
}