.wrapper {
    /*  */
    padding: var(--container);
    position: relative;
    margin-bottom: var(--main-padding);
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    padding: 0 0 var(--main-padding) 0;
}

.wrapper h2 {
    text-align: left;
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--main-padding);
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper h2 {
        text-align: left;
        font-size: 34px;
    }
}