.wrapper {
    /*  */
    padding: var(--container);
    position: relative;
    margin-bottom: var(--main-padding);
    width: 100%;

    &>h2 {
        font-size: 26px;
        padding: 0 0 var(--main-padding) 0;
    }

}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--main-padding);
    margin-bottom: 30px;
}
.image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}
.basicFields {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
    }
}