.wrapper {
    padding: var(--main-padding) 0px;
    position: relative;
    margin:0;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    
    &>h2 {
        font-size: 36px;
        padding: 0 0 var(--main-padding) 0;
    }
    
    &:hover {
        background-color: #f8f8f8;
        & .delete {
            opacity: 1;
        }
    }
    border-bottom: 1.5px solid black;
}
.delete {
    opacity: 0;
    position: absolute !important;
    right:10px;
    top: 10px;
    & svg {
        transform: rotate(45deg);
    }
}


@media screen and (min-width:768px) {
    .wrapper {
        gap: 20px;
    }
}

