.wrapper {
    /*  */
    padding: 28px 50px;
    position: relative;
    aspect-ratio: 16/8;
    overflow-x: hidden;
    border-radius: 6px;
}
.content 
{
    position: absolute;
    bottom: 28px;
    & span {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--secondary-color);
        line-height: 1;
    }
    & p {
        font-size: 38px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        color: var(--base-color)
    }
}
