.wrapper {
    /*  */
    padding: var(--container);
    position: relative;
    margin-bottom: var(--main-padding);
    width: 100%;
    /* display: flex; */

    &>h2 {
        /* text-align: center; */
        font-size: 36px;
        padding: 0 0 var(--main-padding) 0;
    }

}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-padding);
}
