.wrapper {
    padding: var(--container);
    display: flex;
    justify-content: space-between;
    background-color: var(--base-color);
}

.logo {
    width: 200px;
    position: relative;
}

.nav {
    /*  */
}

.navItems {
    display: flex;
    list-style-type: none;
    width: fit-content;
    gap: var(--main-padding);
}
.navItems > a:hover {
    color: var(--primary-accent-color);
}
.navItem {
    flex: 1;
    text-transform: uppercase;
    min-width: fit-content;
    font-weight: 500;
}
.navItemIcon {
    font-size: 1.3rem;
    line-height: 0;
}