.wrapper {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: var(--main-padding);
    display: flex;
    flex-direction: column;
    background-color: var(--base-color);
    flex-wrap: nowrap;
}

.content {
    position: relative;
    padding: var(--main-padding);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    line-height: 1;

    & span {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--primary-accent-color);
    }

    & p {
        font-size: 26px;
        text-transform: capitalize;
        color: var(--primary-color);
    }

    .metainfo {
        margin-top: 30px;
        text-transform: none;
        font-weight: 400;
        color: var(--primary-color);
        opacity: 0.7;
    }
}

.imageContainer {
    position: relative;
    aspect-ratio: 16/9;
    flex: 1;
}

.action {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: var(--main-padding);
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
    .action {
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .action {
        flex-direction: row;
    }
}